.top_header {
    margin: 5px;
    display: flex;
    align-items: flex-end;
}

.top_header h1 {
    font-size: 1.4rem;
}

.top_header nav {
    margin-left: 15px;
}

.top_header nav li {
    display: inline;
    margin-left: 15px;
    text-decoration: none;
}

.top_header nav .li_selected {
    font-weight: bold;
    text-decoration: underline;
}