.layout {
  min-height: 100vh;
}

.layout header {
    margin: 5px;
    display: flex;
    align-items: flex-end;
}

.layout header h1 {
    font-size: 1.4rem;
}

.layout header nav {
    margin-left: 15px;
    flex: 1;
}

.layout header nav li {
    display: inline;
    margin-left: 15px;
    text-decoration: none;
}

.layout header nav .li_selected {
    font-weight: bold;
    text-decoration: underline;
}

.layout main {
    padding: 5px 10px;
}