.navigate_to_articles {
  margin-bottom: 20px;
}

.article_section {
  padding-top: 25px;
  margin-top: 15px;
}

.article_section > * {
  margin-bottom: 20px;
}

.article_section > h3 {
  margin-bottom: 10px;
}

.article_section section p {
  margin-bottom: 10px;
}