* {
  padding: 0px;
  margin: 0px;
}

.dark {
  background-color: #000;
  color: #fff;
}

body {
  font-family: Roboto, Arial;
  margin-top: -5px;
}

a {
  text-decoration: none;
}

.light {
  color: #000;
}

.dark a {
  color: #0070f3
}