* {
  padding: 0px;
  margin: 0px;
}

.dark, .light {
  transition: color 0.8s, background-color 0.8s;
}

.dark {
  background-color: #000;
  color: #fff;
}

body {
  font-family: Roboto, Arial;
  margin-top: -5px;
}

a {
  text-decoration: none;
  color: #0070f3
}

.light {
  color: #000;
}

.bottom-border {
  border-bottom: 1px solid #000;
}

.dark .bottom-border {
  border-bottom-color: #fff;
}