* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Roboto', sans-serif, Arial;
  margin-top: -5px;
}

.display-none {
  display: none;
}

/* Main themes */
.dark, .light {
  transition: color 0.3s, background-color 0.4s;
}

.dark {
  background-color: #0e1111;
  color: #eee;
  border-color: #eee;
}

.light {
  background-color: #f5f5f5;
  color: #000;
  border-color: #000;
}

/* Element "a" */
a {
  text-decoration: none;
  color: #0052af
}

.dark a {
  color: #fff
}

/* Class "bottom-border" */
.bottom-border {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

/* Class "bottom-border" */
.translucent-background {
  background-color: rgba(0, 0, 0, 0.3);
}

.dark .translucent-background {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Class "top-border" */
.top-border {
  border-top-width: 1px;
  border-top-style: solid;
}

/* Class "icon-button" */
.icon-button {
  padding: 2px 5px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  border: 1px solid #000;
}

.dark .icon-button {
  border-color: #fff;
}

/* Responsiveness */
@media only screen and (min-width: 1024px) {
  body .mobile-only {
    display: none;
  }
}


@media only screen and (max-width: 1024px) {
  body .desktop-only {
    display: none;
  }
}