.layout {
  min-height: 100vh;
}



.layout header {
    padding: 15px 15px 10px 15px;
    display: flex;
    align-items: center;
}

.layout header > * {
    margin-left: 20px;
}

.layout header > *:first-child {
    margin-left: inherit;
}

.layout header h1 {
    font-size: 1.4rem;
}

.layout header nav {
    flex: 1;
    user-select: none;
}

.layout header nav li {
    display: inline;
    margin-left: 15px;
    text-decoration: none;
}

.layout header nav .li_selected {
    font-weight: bold;
    text-decoration: underline;
}

.layout main {
    padding: 5px 10px;
}