.project_card  {
  border-width: 1px;
  border-style: solid;
  display: flex;
  margin-bottom: 20px;
}

.project_card > *:first-child {
  width: 200px;
}

.project_name {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project_card > div {
  padding: 10px;
}

.project_info { 
  flex: 1;
  border-left-width: 1px;
  border-left-style: solid;
}

.project_card > div:first-child {
  border-left: none;
}

.project_card li,
.project_card ul {
  list-style-type: none;
}

.tech_stack {
  margin-top: 10px;
}

.tech_stack_category {
  font-weight: bold;
  margin-top: 10px;
}

.project_description {
  margin-bottom: 10px;
}

.roles p span:first-child {
  font-weight: bold;
  text-decoration: underline;
}

.roles p {
  margin-top: 20px;
}

@media only screen and (max-width: 800px) {
  .project_card {
    flex-direction: column;
  }

  .project_card > *:first-child {
    width: auto;
  }

  .project_info { 
    border-left-width: 0px;
  }

  .tech_stack {
    display: flex;
    padding-bottom: 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  .tech_stack > * {
    padding-left: 15px;
    padding-right: 15px;
    border-left-width: 1px;
    border-left-style: solid;
  }

  .tech_stack > *:first-child {
    padding-left: 0px;
    border-left-width: 0px;
  }

  .tech_stack_category {
    margin-top: 0px;
  }
}